<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.audacity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignupActivity" />
        <activity android:name=".GettingStartedActivity" />
        <activity
            android:name=".HAOD"
            android:label="@string/category_1"
            android:theme="@style/AppTheme" />
        <activity android:name=".challenges"
            android:theme="@style/AppTheme"
            android:label="@string/category_2"/>
        <activity android:name=".Discussions"
            android:theme="@style/AppTheme"
            android:label="@string/category_3"/>
        <activity android:name=".Results"
            android:theme="@style/AppTheme"
            android:label="@string/category_4"></activity>
    </application>

</manifest>